$submitColor1: #f17a36;
$submitColor2: #ef495f;
$backgroundColor: black;
$liBackground: white;
$hoverBackground: #cccccc;
$hoverColor: white;
$liColor: black;

body{
  background: $backgroundColor;
}

.menu{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: 0.8s all 0.3s;
  }

  li{
    display: table-cell;
    position: relative;
    background: $liBackground;
    color: $liColor;
  }

  a{
    text-decoration: none;
    display: block;
    padding: 8px 32px;
    color: $liColor;
  }

  ul a{
    padding: 8px 0;
  }

  ul li{
    display: inherit;
  }

  li:hover ul{
    max-height: 15em;
  }

  li:hover a:hover{
    background: $hoverBackground;
    color: $hoverColor;
    transition: background 2s, color 2s, transform 2s;
  }
}









